# requirements.txt — dependencias mínimas para usar optimamente el Visualizador Molecular
# Fija NumPy en la serie 1.x para que RDKit funcione
numpy<2

Flask>=2.0
Flask-SocketIO>=5.0
python-socketio>=5.0
python-engineio>=4.0

# Requerido para Gunicorn + SocketIO en producción
eventlet>=0.33.0

opencv-python>=4.5
mediapipe>=0.8
Pillow>=8.0

# RDKit debe venir después de la línea numpy<2
rdkit-pypi>=2021.9.2

requests>=2.28

